.row
  ul(class="list-group")
    li(class="list-group-item active")
      |Le chat (#{messagesCount} messages)
    li(class="list-group-item")
      if (currentUser)
        form(class="new-message")
          input(type="text" name="text" placeholder="Say something" autocomplete="off")
      else
        | Please login to chat ! 
        +loginButtons
    each messages
      +message
